@font-face {
    font-family: urban;
    src: url(Urban.ttf);
}

@font-face {
    font-family: dense;
    src: url(Dense-Regular.otf);
}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: dense;
}

h1 {
    font-family: urban, dense;
    font-weight: normal;
    /*text-transform: uppercase;*/
    font-size: 70px;
    margin: 22px 20px 0;
    color: black;
}

body {
    font-family: dense;
}

* {
    box-sizing: border-box;
}
