#streetMap {
    position: relative;
    width: 100%;
    height: 100px;
}

#streetMap svg {
    position: relative;
    width: 100%;
    height: 100%;
}


.photos {    
    position: relative;
    margin-bottom: 10px;
    background: #eee;
}