.m-map {
    position: relative;
    margin: 10px;
    width: 500px;
    height: 500px;
    background: #000;
    overflow: hidden;
}

.m-map__photo {
    position: absolute;
    width: 2px;
    height: 2px;
}
