.m-map {
    position: relative;
    margin: 10px;
    width: 800px;
    height: 800px;
    background: #000;
    overflow: hidden;
}

.m-map__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.m-map__photo {
    position: absolute;
    width: 4px;
    height: 4px;
    z-index: 2;
}
