.m-photos{
	position: fixed;
	height: 100%;
	top: 0;
	right: 0;
	left: 800px;
	background-color: #333333;

}

.m-filter{
	width: 100%;
	height: 60px;
	background-color: #1A1A1A;
}

.searchField{
	width: 30%;
	line-height: 3em;
	background-color: #ECF0F1;
	border-radius: 0.5em;
	float: right;
	margin: 1em;

}

.m-photos__set {
	position: absolute;
    width: 100%;
    top: 60px;
    bottom: 0;
    left: 0;
    overflow: auto;
}

.m-photos__set__inner {
	position: relative;
	overflow: hidden;
}

.m-photos__set__inner__photo{
	margin: 10px;
	float: left;
	position: relative;
	display: block;
	height: 150px;
	width: 150px;

	&.selected {
		border: 10px solid white;
	}
}

.m-photos__big {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: #000;
	z-index: 100;
	overflow: auto;
	padding: 20px;
}

.m-photos__big__photo {
	position: relative;
	max-width: 640px;
	padding-top: 100%;
	box-sizing: initial;
}


.m-photos__big__tags {
	position: relative;
	color: #fff;
}

.m-photos__big__close {
	color: #fff;
}
