$streetColor: #888;
$riverColor: rgb(81, 175, 232);

$metroSignColor: blue;
$metroNameColor: #888;

svg {
    font-family: Arial;
    font-weight: normal;
    
    #streetLine {
        line {
            stroke: $streetColor;
            stroke-width: 1;
        }

        rect {
            stroke: none;
            fill: #fff;
        }
    }

    .street {
        stroke: $streetColor;
        stroke-width: 2;
    }

    .river {
        stroke: $riverColor;
        stroke-width: 2;
    }

    .metro {
        .metro-sign {
            stroke: $metroSignColor;
            font-size: 16px;
        }
        .metro-name {
            stroke: $metroNameColor;
            font-size: 12px;
        }
    }

    .building {
        stroke: #000;
        stroke-width: 1;
        fill: gray;
    }

    .park {
        stroke: #000;
        stroke-width: 1;
        fill: green;
    }

    .square {
        stroke: #000;
        stroke-width: 1;
        fill: silver;
    }

    .step {
        opacity: 0;
        
        &.hovered {
            opacity: 0.2;
        }

        rect {
            stroke: none;
            fill: #000;
        }
    }
}