
.m-timeline-b {
    position: relative;
        width: 60%;
    float:left;
    height: 30%;
}

.m-timeline-b__photos {
    pointer-events: all;
}

.m-timeline-b__selection {
    height: 100%;
    display: none;

    rect {
        stroke: #ff0000;
        strokeWidth: 1;
        fill: #00ff00;
        opacity: 0.5;
    }
}

.m-timeline-b__photos__bg {
    stroke: none;
    fill: #fff;
    opacity: 0;

}

.m-timeline-b__photos__days__day {
    pointer-events: all;
}

.m-timeline-b__photos__days {
    pointer-events: all;
}

.m-timeline-b__photos__highlighter {
    opacity: 0;

    rect {
        opacity: 0.2;
        fill: #000;
    }

    text {
        fill: #000;
    }
}
