<html>
    <head>
        <style>
            div {
                width: 150px;
                display: block;
                margin: 5px;
                border: 1px solid #eee;
                font-size: 12px;
                font-family: Arial;
                position: relative;
                float: left;
            }

            div img {
                width: 150px;
                height: 150px;
            }
        </style>
    </head>
    <body>
        <h1>{{ tag if tag != None else '/no hashtag/' }} &mdash; {{ photos.count() }}</h1>
        {% for p in photos %}
            <div>
                <a href="{{ url_for('save', p_id=p.id) }}">
                    <img src="{{ url_for('static', filename='img/' + (p.photo if tag != None else p).insta_id + '.jpg') }}"/>
                </a>
                {% for ph in (p.photo if tag != None else p).tags %}
                    <a href="{{ url_for('photos', hashtag_id=ph.tag.id) }}">
                        {{ ph.tag.name }}
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </body>
</html>
